*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color1: #ffffff;
    --text-color2: #000000;
    --header-color: #3498db;
    --nav-color: #2ecc71;
    --nav-links-color: #00ff00;
    --button-nav: #95a5a6;
    --button-details-nav: #000000;
    --about-color: #bdc3c7;
    --avatar-border: #3498db;
    --button-about: #8E44AD;
    --button-about-hover: #ffffff;
    --project-color:#000000;
    --button-project: #8E44AD;
    --button-project-hover: #ffffff;
    --footer-color: #2ecc71;
}

body {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: light;
}

header {
    padding: 10vh 0;
    background-color: var(--header-color);
    color: var(--text-color1);
}

header h1, header h3 {
    margin-bottom: 1%;
    text-align: center;
}

#logo {
    margin-top: 2%;
    text-align: center;
}

header img {
    border-radius: 50%;
    height: 15em;
}

nav {
    background-color: var(--nav-color);
    color: var(--text-color2);
    width: 100%;
    float: right;
    margin-bottom: 7%;
}

nav #links {
    display: none;
    text-align: center;
    width: 100%;
}

nav a {
    text-decoration: none;
    margin: 2%;
    padding: 2%;
    font-size: 1.5em;
    color: var(--black);
    background-color: var(--nav-links-color);
    display: block;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

button:hover, a:hover {
    cursor: pointer;
}

nav h2 {
   margin-left: .1%; 
   padding: 2%;
   width: 80%;
   float: left;
   font-family: "Source Code Pro", monospace;
   font-optical-sizing: auto;
   font-weight: 600;
   font-style: 1em;
}

nav button {
    width: 13%;
    margin: 2%;
    padding: 2%;
    background-color: var(--button-nav);
}

nav button div {
    width: 100%;
    height: 0.3em;
    background-color: var(--button-details-nav);
    margin: 0.3em 0;
}


section {
    padding: 5vh 0;
    background-color: var(--about-color);
    text-align: center;
}

section h2 {
    padding-top: 5%;
}

section img {
    height: 13em;
    border: 2px solid var(--avatar-border);
    width: 13em;
    border-radius: 50%;
    margin: 5%;
}

section p {
    margin-bottom: 10%;
}

section a {
    text-decoration: none;
    color: var(--button-about-hover);
    padding: 1em;
    background-color: var(--button-about);
    border-radius: 2em;
    transition: background-color .5s;
}

section a:hover {
    color: var(--button-about);
    background-color: var(--button-about-hover);
    transition: background-color .5s;
}


#projects {
    padding: 5vh;
    color: var(--text-color1);     
    background-color: var(--project-color);
    text-align: center;
}

#projects a {
    text-decoration: none;
    color: var(--button-project-hover);
    padding: 1em;
    background-color: var(--button-project);
    border-radius: 2em;
    transition: background-color .5s;
}

#projects a:hover {
    color: var(--button-project);
    background-color: var(--button-project-hover);
    transition: background-color .5s;
}

#projects h3 {
    margin-top: 10%;
}

#projects img {
    max-width: 100%;
    height: auto;
}

#projects h4 {
    margin-bottom: 10%;
}


footer {
    padding: 0 0 5vh 0;
    color: var(--text-color1);
    text-align: center;
    background-color: var(--footer-color);
}

footer h2 {
    padding: 5%;
    background-color: var(--header-color);
    border-radius: 5%;
}

footer i {
    margin: 4%;
    transition: scale .3s;
}

footer i:hover {
    scale: 1.3;
    transition: scale .3s;
}


@media (min-width: 480px) {
    nav button {
        width: 9%;
        float: right;
    }

    nav a {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2% 0;
        opacity: .7;
    }

    nav a:hover {
        opacity: 1;
    }


    section h2 {
        padding-top: 3%;
    }

    section img {
        height: 14em;
        width: 14em;
        margin: 3%;
    }
    
    section p {
        margin-bottom: 6%;
    }



    #projects h4 {
        margin-bottom: 6%;
    }


    footer h2 {
        padding: 2%;
    }
}


@media (min-width: 768px) {
    nav button {
        margin: 1%;
    }

    nav a {
        margin: 1% 0;
    }

    header h1 {
        margin-bottom: .2%;
    }

    header img {
        height: 13em;
    }


    section h2 {
        padding-top: 2%;
    }

    section img {
        margin: 2%;
    }

    section p {
        margin-bottom: 5%;
    }



    #projects-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #project-1, #project-2 {
        width: 45%;
        margin-bottom: 5vh;
    }


    footer h2 {
        padding: 1.5%;
    }
}

@media (min-width: 1024px) {
    nav {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
    }
    
    nav button {
        display: none;
    }

    nav h2 {
        width: 20%;
        font-size: 2em;
    }

    nav a {
        text-align: left;
        display: block;
        float: right;
        width: 15%;
        background-color: var(--nav-color);
    }

    nav #links {
        width: 79%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }


    section {
        height: 75vh;
    }

    section img {
        height: 15em;
        width: 15em;
    }



    footer {
        height: 40vh;
    }
}