*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color1: #ffffff;
    --text-color2: #000000;
    --header-color: #3498db;
    --nav-color: #2ecc71;
    --nav-links-color: #00ff00;
    --button-nav: #95a5a6;
    --button-details-nav: #000000;
    --about-color: #bdc3c7;
    --avatar-border: #3498db;
    --button-about: #8E44AD;
    --button-about-hover: #ffffff;
    --project-color:#000000;
    --button-project: #8E44AD;
    --button-project-hover: #ffffff;
    --footer-color: #2ecc71;
}


header {
    height: 100vh;
    background-color: var(--header-color);
    color: var(--text-color1);
}

header h1, header h3 {
    margin-bottom: 2%;
    text-align: center;
}

#logo {
    margin-top: 3%;
    text-align: center;
}

header img {
    border-radius: 50%;
    height: 15em;
}

nav {
    background-color: var(--nav-color);
    color: var(--text-color2);
    width: 100%;
    float: right;
    margin-bottom: 7%;
}

nav #links {
    display: none;
    text-align: center;
    width: 100%;
}

nav a {
    text-decoration: none;
    margin: 2%;
    padding: 2%;
    font-size: 1.5em;
    color: var(--black);
    background-color: var(--nav-links-color);
    display: block;
}

button:hover, a:hover {
    cursor: pointer;
}

nav h2 {
   margin-left: .1%; 
   padding: 2%;
   font-size: 1.75em;
   width: 80%;
   float: left;
}

nav button {
    width: 13%;
    margin: 2%;
    padding: 2%;
    background-color: var(--button-nav);
}

nav button div {
    width: 100%;
    height: 0.3em;
    background-color: var(--button-details-nav);
    margin: 0.3em 0;
}


section {
    height: 70vh;
    background-color: var(--about-color);
    text-align: center;
}

section h2 {
    padding-top: 5%;
}

section img {
    height: 13em;
    border: 2px solid var(--avatar-border);
    width: 13em;
    border-radius: 50%;
    margin: 5%;
}

section p {
    margin-bottom: 10%;
}

section a {
    text-decoration: none;
    color: var(--button-about-hover);
    padding: 5%;
    background-color: var(--button-about);
    border-radius: 2em;
    transition: background-color .5s;
}

section a:hover {
    color: var(--button-about);
    background-color: var(--button-about-hover);
    transition: background-color .5s;
}


#projects {
    height: 110vh; 
    color: var(--text-color1);     
    background-color: var(--project-color);
    text-align: center;
    padding: 5%;
}

#projects a {
    text-decoration: none;
    color: var(--button-project-hover);
    padding: 5%;
    background-color: var(--button-project);
    border-radius: 2em;
    transition: background-color .5s;
}

#projects a:hover {
    color: var(--button-project);
    background-color: var(--button-project-hover);
    transition: background-color .5s;
}

#projects h3 {
    margin-top: 9%;
}

#projects h4 {
    margin-top: 7%;
    margin-bottom: 10%;
}


footer {
    height: 25vh;  
    color: var(--text-color1);
    text-align: center;
    background-color: var(--footer-color);
}

footer h2 {
    padding: 5%;
}